services:
  api:
    container_name: stina-api
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    restart: unless-stopped
    ports:
      - '3001:3001'
    environment:
      NODE_ENV: production
      DB_PATH: /data/data.db
      EXTENSIONS_PATH: /data/extensions
      STINA_MASTER_SECRET: default-master-secret
    volumes:
      - ${STINA_DATA_PATH:-./data}:/data

  web:
    container_name: stina-web
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    restart: unless-stopped
    ports:
      - '3002:3002'
    depends_on:
      - api
