@import './reset.css';
@import './theme.css';
@import './themes/light.css';
@import './themes/dark.css';
@import './common.css';

html,
body,
#app {
  background: conic-gradient(
    at 50% 50%,
    var(--window-bg-first),
    0.25turn,
    var(--window-bg-second),
    0.5turn,
    var(--window-bg-third),
    0.75turn,
    var(--window-bg-first)
  );
  color: var(--text);
  font-family: var(--font-sans);
}
a {
  color: var(--primary);
}
button {
  cursor: pointer;
}
