@import './reset.css';
@import './theme.css';
@import './themes/light.css';
@import './themes/dark.css';

html,
body,
#app {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-sans);
}
a {
  color: var(--primary);
}
button {
  cursor: pointer;
}
