/* Minimal reset */
* {
  box-sizing: border-box;
}
html,
body,
#app {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
button,
input,
textarea {
  font: inherit;

  &:focus {
    outline: none;
  }
}
:root {
  color-scheme: light dark;
}
