:root {
  /* Typography */
  --font-sans:
    'Funnel Display', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, 'Noto Sans',
    'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji';
  --titlebar-inset: 0px;

  /* Border radius */
  --border-radius-normal: 1rem;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 800;
}
