/* Minimal reset */
@font-face {
  font-family: 'Funnel Display';
  src: url('../assets/fonts/FunnelDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}
html,
body,
#app {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  font-family:
    'Funnel Display',
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Ubuntu,
    Cantarell,
    'Noto Sans',
    'Helvetica Neue',
    Arial,
    'Apple Color Emoji',
    'Segoe UI Emoji';
}
button,
input,
textarea {
  font: inherit;

  &:focus {
    outline: none;
  }
}
:root {
  color-scheme: light dark;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1rem;
  font-weight: 800;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}
