/* Dark */
:root[data-theme='dark'] {
  --primary: #1e59b8;
  --accent: #c09539;
  --accent-fg: #3a290b;

  --empty-bg: purple;
  --text: hsl(26 76% 87% / 1);

  --window-bg-first: hsl(225, 28%, 14%);
  --window-bg-second: hsl(225, 24%, 16%);
  --window-bg-third: hsl(225, 44%, 7%);

  --window-bg-lower: hsl(226, 30%, 16%);
  --window-bg-empty: hsl(270, 75%, 6%);

  --bg: green;
  --bg-elev: var(--accent);
  --bg-elev-fg: var(--accent-fg);
  --bg-elev-mid: red;
  --panel: #0f172a;
  --muted: #9ca3af;
  --bubble-ai: var(--primary);
  --bubble-user-text: #ffffff;
  --bubble-ai-text: #e5e7eb;
  --border: hsl(214, 13%, 32%);
  --shadow: rgba(0, 0, 0, 0.5);

  --interactive-bg: #283349;

  --interaction-bg: hsl(225, 28%, 14%);
  --interaction-fg: hsl(0 0% 80%);

  --selected-bg: hsl(0 0 100% / 0.075);
}
