/* Dark */
:root[data-theme='dark'] {
  --primary: #1e59b8;
  --accent: #c09539;
  --accent-fg: #3a290b;

  --text: hsl(26 76% 87% / 1);

  --window-bg-first: hsl(225, 28%, 14%);
  --window-bg-second: hsl(225, 24%, 16%);
  --window-bg-third: hsl(225, 44%, 7%);

  --window-bg-lower: hsl(226, 30%, 16%);
  --window-bg-empty: hsl(270, 75%, 6%);

  --bg-elev: var(--accent);
  --bg-elev-fg: var(--accent-fg);
  --muted: #9ca3af;
  --bubble-ai: var(--primary);
  --bubble-user-text: #b19d9d;
  --bubble-ai-text: #e5e7eb;
  --border: hsl(214, 13%, 32%);
  --shadow: rgba(0, 0, 0, 0.5);

  --interactive-bg: #283349;
  --interactive-bg-hover: #2c3e50;

  --interaction-bg: hsl(225, 28%, 14%);
  --interaction-fg: hsl(0 0% 80%);

  --selected-bg: hsl(0 0 100% / 0.075);

  --text-input-bg: hsl(220, 16%, 20%);
  --text-input-fg: hsl(0 0% 90%);

  --panel: var(--window-bg-lower);
  --panel-hover: hsl(from var(--panel) h s 20%);
}
